<c-col xs="12">
  <c-card class="mb-4">
      <c-card-header>
        <strong>Edit Librarian Details</strong>
      </c-card-header>
    <c-card-body>
  <form cForm (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">First Name</label>
    <input
      cFormControl
      id="first name"
      [(ngModel)]="_firstname"
      name="first_name"
    />
  </div>
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">Last Name</label>
    <input
      cFormControl
      id="last name"
      [(ngModel)]="_lastname"
      name="last_name"
    />
  </div>
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">Email</label>
    <input cFormControl id="email" [(ngModel)]="_email" name="email" />
  </div>
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">Phone Number</label>
    <input cFormControl id="phone no" [(ngModel)]="_phoneno" name="phone_no" />
  </div>
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">Address</label>
    <input cFormControl id="address" [(ngModel)]="_address" name="address" />
  </div>
  <div class="d-grid gap-2 col-1 mx-auto">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>
