<form cForm (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">Title</label>
    <input cFormControl id="title" ngModel name="title" />
  </div>
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">Quantity</label>
    <input cFormControl id="quantity" ngModel name="quantity" />
  </div>
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">Author</label>
    <input cFormControl id="author" ngModel name="author" />
  </div>
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">Category</label>
    <input cFormControl id="category" ngModel name="category" />
  </div>
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">ISBN</label>
    <input cFormControl id="isbn" ngModel name="isbn" />
  </div>
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">Publication Date</label>
    <input cFormControl id="publication_date" ngModel name="publication_date" />
  </div>

  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">Publisher</label>
    <input cFormControl id="publisher" ngModel name="publisher" />
  </div>

  <div class="d-grid gap-2 col-1 mx-auto">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>
